@import '../base/settings';

//// react date picker
//.react-datepicker-wrapper {
//  input {
//    background-color: $color-input-background;
//    border-radius: 10px;
//    font-weight: $font-weight-controls;
//    &.short {
//      width: $width-short-date-field;
//    }
//  }
//}

.modal {
  &-title {
    color: red;
  }
  &-body {
    color: black;
  }
}

.move-to-right {
  display: block;
  float: right;
}

