@import "../base/settings";

.table-inner {
  width: 100%;
  border: 2px solid row-color(border);

  thead {
    background-color: row-color(background);
    color: row-color(text);
  }

  th {
    border: 3px solid row-color(border);
    padding: 10px;
    text-align: left;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: row-color(even);
      }

      &:nth-child(odd) {
        background-color: row-color(odd);
      }

      td {
        padding: 10px;
        font-weight: bold;
        color: lighten(row-color(text), 20%);
        border: 1px solid row-color(border);

        a {
          color: inherit;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
