@import "../base/settings";

.table-inner {
  width: 100%;
  border: 2px solid row-color(border);
  margin: 1rem 0;

  &.min-table {
    width: 50%;
  }

  thead {
    background-color: row-color(background); // darken(row-color(background), 10%);
    color: row-color(text);
    tr {
      border: 2px solid row-color(border);

      th {
        padding: 0.625rem;
        text-align: left;
        border-left: 1px solid row-color(border);
        border-right: 1px solid row-color(border);
      }
    }
  }



  tbody {
    tr {
      &:nth-child(even) {
        background-color: row-color(even);
      }

      &:nth-child(odd) {
        background-color: row-color(odd);
      }

      td {
        padding: 10px;
        font-weight: bold;
        color: lighten(row-color(text), 20%);
        border: 1px solid row-color(border);

        a {
          color: inherit;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
