.header {
  cursor: pointer;
  &.header-brand {
    font-size: 1rem;
    font-weight: 500;
    color: green !important;
  }
  &.headerNavLink {
    text-decoration: none;
    color: orange;
  }
}

.nav-link-pointer {
  cursor: pointer;
  color: green;
}

span {
  &.pointer {
    cursor: pointer;
  }
}
